/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
 h1,
 h2,
 h3, 
 h4,
 h5,
 h6{
   font-weight: inherit;
   font-size: inherit;
 }
 html,
 body {
   height: 100%;
   line-height: 1;
   font-size: 18px;
   color: #070707;
   font-weight: 700;
   font-family: Glory;
 }
 .wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
 }

 /* ------------------------------------*/ 
  ._container {
   max-width: 946px;
   padding: 0 15px;
   margin: 0px auto;
   box-sizing: content-box;
 }

 /* -----------------HEADER-------------------*/ 
  .header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
}
.header__container{
  display: flex;
  align-items: center;
}
.header__logo {
  font-size: inherit;
  color: inherit;
}
.header__menu {
margin: 0 0 0 155px;
}
.menu {
  padding: 32px 0;
}
.menu__list {
    flex-wrap: wrap;
    display: flex;
}
.menu__item {
  color: #828282
;
}
.menu__item:not(:last-child) {
margin: 0 155px 0 0px;
}
.menu__link {
  color: inherit;
}